header { 
    color: #fff;
    font-weight: 100;

    .headerText {
        display: block;
        background-color: #404040;
        text-align: center;
        padding: 20px 0px 20px 0px;

        h1, h2 { 
            color: #fff;
            font-size: 20px;
        }

        .dropdown:hover .dropdown-content {
            display: flex;
            position: absolute;
            justify-content: center;
            flex-wrap: wrap;    
        }

        .dropdown {
            position: relative;
            display: block;
        
            .home-icon {
                display: block;
                position: relative;
                float: left;
                height: 40px;
                width: 40px;
                left: 20%;
                top: -40px;
                filter: invert(100%);
            }
            

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                width: 100px;
                height: 205px;
                text-align: center;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 12px 20px;
                z-index: 1;
                left: 20%;
            
                
                ul {
                    position: absolute;
                    list-style: none;
                    text-decoration: none;
                    text-align: center;
                    width: 100%;
                    left: 0px;

                    li {
                        font-size: 20px;
                        padding: 5px;
                        transition: ease .5s;

                        &:hover {
                            transform: scale(1.2);
                        }

                        a {
                            width: 100px;
                            color: #404040;
                        }
                    }
                    
                }
            }

        }
    }

    .headerImg {
        background-position: center;
        background-size: cover;
        background-image: url(./images/cityscape.png);
        height: 300px;
    }

}