header {
  color: #fff;
  font-weight: 100;
}
header .headerText {
  display: block;
  background-color: #404040;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
header .headerText h1, header .headerText h2 {
  color: #fff;
  font-weight: 100;
}
header .headerText .dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
}
header .headerText .dropdown {
  position: relative;
  display: block;
}
header .headerText .dropdown .home-icon {
  display: block;
  position: relative;
  float: left;
  height: 40px;
  width: 40px;
  left: 20%;
  top: -35px;
  filter: invert(100%);
}
header .headerText .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  height: 135px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 20%;
}
header .headerText .dropdown .dropdown-content ul {
  position: absolute;
  list-style: none;
  text-decoration: none;
  text-align: center;
  width: 100%;
  left: 0px;
}
header .headerText .dropdown .dropdown-content ul li {
  border-bottom: 1px solid black;
  font-size: 20px;
}
header .headerText .dropdown .dropdown-content ul li a {
  width: 100px;
  color: #404040;
}
header .headerImg {
  background-position: center;
  background-size: cover;
  background-image: url(./images/cityscape.png);
  height: 300px;
}

footer {
  display: block;
  background-color: #404040;
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: #ffffff;
  width: 100%;
}
footer a {
  color: white;
}
footer .linked-icon {
  position: inherit;
  height: 35px;
  width: 40px;
  left: 20%;
}
footer .r2h-icon {
  width: 100px;
  height: 50;
}

body {
  min-height: 100vh;
  background-color: #a8a8a8;
}
body .resume {
  background: #ffffff;
  display: block;
  margin: 50px auto;
  width: 874px;
  height: 1000px;
}
body .resume .resuHeader {
  border-bottom: solid #8071ff 5px;
  height: 125px;
}
body .resume .resuHeader .resuName h2 {
  color: #8071ff;
  font-size: 20px;
}
body .resume .resuHeader .resuName h1 {
  font-weight: bold;
  font-size: 24px;
}
body .resume .resuHeader .resuName {
  position: relative;
  top: 50px;
  left: 100px;
}
body .resume .resuHeader .headerContact {
  position: relative;
  float: right;
  top: -10px;
  right: 50px;
  border: solid black 1px;
  padding: 10px;
}
body .resume .resuBody {
  position: relative;
  display: block;
  left: 50px;
  top: 50px;
  max-width: 815px;
}
body .resume .resuBody div {
  margin: 30px;
}
body .resume .resuBody .obj p {
  position: relative;
  left: 25px;
  width: 750px;
}
body .resume ul {
  position: relative;
  list-style: initial;
  left: 50px;
}
body .resume h3 {
  font-size: 24px;
  color: #8071ff;
}
body .resume h4 {
  position: relative;
  left: 25px;
  font-size: 20px;
  color: #5248aa;
}

strong {
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-container a {
  position: relative;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1;
  text-align: center;
  font-size: 30px;
  border: black solid 3px;
  margin: 50px 25px;
  min-width: 275px;
  height: 400px;
  transition: all 0.25s;
}
.flex-container a:hover {
  transform: scale(1.1);
}
.flex-container .blocks {
  display: block;
  position: relative;
  height: 10%;
  padding: 5px 0;
  border-bottom: black solid 3px;
  background-color: #888888;
  color: #ffffff;
  text-align: center;
}
.flex-container .blocks .contactForm {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.flex-container .blockImg__one {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-image: url(./images/free-perspective-website-mockup.png);
  width: 100%;
  height: 358px;
}
.flex-container .blockImg__two {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-image: url(./images/book.jpeg);
  width: 100%;
  height: 358px;
}
.flex-container .blockImg__three {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-image: url(./images/office-guy-typing-keyboard-89039802.jpg);
  width: 100%;
  height: 358px;
}
.flex-container .blockImg__four {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-image: url(./images/write-a-resume.jpg);
  width: 100%;
  height: 358px;
}
.flex-container .blockImg__five {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-image: url(./images/github1.png);
  width: 100%;
  height: 358px;
}
.flex-container .blockImg__six {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-image: url(./images/github2.png);
  width: 100%;
  height: 358px;
}

.contactEmail {
  text-align: center;
  padding: 10px;
}

form {
  border: 3px solid black;
  margin: 30px;
}

.contactForm input[type=text]:required:hover {
  background: lightcoral;
}
.contactForm input[type=text] {
  width: 150px;
  padding: 3px 3px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: ease 1s;
}

.contactExtras {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contactExtras textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.gallery-container img {
  position: relative;
  height: 250px;
}
.gallery-container div {
  margin: 20px;
  height: 250px;
}
.gallery-container div:hover p {
  visibility: initial;
}
.gallery-container div > p {
  position: relative;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
